*{
  box-sizing:border-box;
}

body{
  padding:0px;
  margin:0px;
  font-family:myFirstFont;

}

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, p{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{
  margin:0;
}
p{
font-family: Lexend;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
}
h1{
  font-size:1em;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
text-decoration: none;
}
a:link {
	color: black;
  }
  a:visited {
	color: black;
  }
  a:hover {
	color: black;
  }
  a:active {
	color: black;
  }
s{
  color:red;	

}
select{
    color: #818181;
    border: none;
	background: transparent;
}
select:focus-visible{
    outline:none;
}