.footer {
  width: 100%;
  height: 100vh;
  background: var(--footer-color);
  color: #9D9EA2;
  padding: 50px;
  font-family: cursive; }
  .footer .footer__cta {
    background: var(--main-color);
    width: 80%;
    height: 50vh;
    padding: 30px 64px;
    border-radius: 24px;
    display: none;
    left: 10%;
    top: 100%; }
  .footer .footer__cta-title {
    color: white;
    width: 50%;
    line-height: 30px;
    margin: 0 0 20px 0; }
  .footer .footer__cta-form {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer .footer__cta-form-input {
    padding: 15px;
    border-radius: 15px;
    background: transparent;
    border: 1px solid gray;
    width: 80%; }
  .footer .footer__cta-title-text {
    font-weight: bold;
    font-size: 2em;
    margin: 20px 0; }
  .footer .footer__cta-form-button {
    background: var(--button-color);
    color: white;
    width: 115px;
    height: 47px;
    padding: 24px, 44px, 24px, 44px;
    border-radius: 100px;
    border: none; }
  .footer .footer__container {
    display: flex;
    justify-content: flex-end;
    float: right; }
  .footer .footer__contacts-links-item {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0; }
  .footer .footer__contacts-links-link {
    color: #9D9EA2;
    width: 50%;
    margin: 10px 0; }
  .footer .footer__contacts-container {
    margin: 50px 0; }
    .footer .footer__contacts-container .footer__contacts-more {
      display: flex;
      flex-wrap: wrap; }
    .footer .footer__contacts-container .footer__contacts-more-text {
      color: #9D9EA2;
      width: 50%;
      margin: 10px 0; }

.header {
  width: 100%;
  height: 37px;
  background: var(--main-color);
  padding: 8px 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.nav {
  display: flex;
  padding: 20px;
  flex-direction: column; }
  .nav .nav__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
  .nav .nav__account-item {
    display: flex; }
  .nav .nav__search-container {
    display: flex; }
  .nav .nav__input-text {
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    opacity: .3;
    border: 1px solid gray; }
  .nav .nav__input-text-button {
    border-radius: 50%;
    background: var(--button-color);
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  @media only screen and (min-width: 700px) {
    .nav .nav__account {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row; } }

.menu {
  display: none;
  padding: 5px; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav .sidenav__links {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  .sidenav .sidenav__links:hover {
    color: #f1f1f1; }
  .sidenav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

.sidenav__span {
  cursor: pointer;
  font-size: 30px; }

@media only screen and (min-width: 700px) {
  .menu {
    display: block; }
    .menu .menu__item-container {
      display: flex;
      justify-content: space-around; }
    .menu .menu__container {
      display: flex;
      justify-content: space-around;
      margin: 20px 0; }
    .menu .menu__item {
      margin: 0 10px;
      cursor: pointer; }
    .menu .menu__item-select {
      border: none; }

  .sidenav__span {
    display: none; } }
* {
  box-sizing: border-box; }

body {
  padding: 0px;
  margin: 0px;
  font-family: myFirstFont; }

html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  margin: 0; }

p {
  font-family: Lexend;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left; }

h1 {
  font-size: 1em; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

a:link {
  color: black; }

a:visited {
  color: black; }

a:hover {
  color: black; }

a:active {
  color: black; }

s {
  color: red; }

select {
  color: #818181;
  border: none;
  background: transparent; }

select:focus-visible {
  outline: none; }

:root {
  --main-color: #05422C;
  --button-color:#17AF26;
  --footer-color:#1A1E26;
  --container-color:#F4F4F4; }

@font-face {
  font-family: myFirstFont;
  src: url(font/Lexend-VariableFont_wght.ttf); }
* {
  font-family: myFirstFont; }

.main-container {
  padding: 5%; }

.main {
  height: 73vh;
  background: var(--container-color);
  overflow: hidden; }
  .main .main__mask-group {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-image: linear-gradient(15deg, var(--main-color), transparent); }
  .main .main__mask-group-container {
    padding: 50px 40px;
    color: #FFFFFF; }
  .main .main__mask-group-top-text {
    color: #F2BC1B;
    font-size: 10px; }
  .main .main__mask-group-bold-text {
    font-size: 23px;
    width: 100%;
    margin: 10px 0 30px 0; }
  .main .main__mask-group-buttom-text {
    display: flex; }
  .main .main__mask-group-button {
    background: var(--button-color);
    color: white;
    width: 10em;
    height: 3em;
    border-radius: 100px;
    border: none; }
  .main .main__mask-group-shapes {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    position: relative; }
  .main .main__mask-groupside {
    height: 95px;
    width: 95px;
    line-height: 90px;
    position: absolute;
    text-align: center; }
  .main .main__mask-group-shape-top {
    background: #346654;
    transform: rotate(-45deg) skew(15deg, 15deg); }
  .main .main__mask-group-shape-left {
    background: #C3D2CC;
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 30%);
    height: 332px; }
  .main .main__mask-group-shape-right {
    background: #648A7C;
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 30%);
    height: 332px; }

.title-text {
  text-align: center;
  padding: 50px 30px; }

.main__mask-group-row {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #F2F6F4; }

.main__rows {
  display: flex;
  margin: 20px; }

.main__rows-text {
  padding: 0 20px; }

.pages-menu {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  justify-content: center; }
  .pages-menu .pages-menu__ul {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    text-align: center; }
  .pages-menu .pages-menu__li {
    width: 33%;
    background: transparent;
    font-size: .8em;
    padding: 10px;
    height: auto; }
  .pages-menu .pages-menu__li:hover {
    color: var(--main-color);
    background: #F2F6F4;
    border: 1px solid var(--main-color);
    border-radius: 50px; }

.main__card {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5%; }
  .main__card .main__product-card-best-seller {
    background: var(--main-color);
    width: 100%;
    border-radius: 16px;
    color: #F2F6F4;
    text-align: center;
    padding: 4%; }
  .main__card .main__product-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 0 10px; }
  .main__card .main__product-card {
    width: 100%;
    border-radius: 16px;
    color: #F2F6F4;
    text-align: center;
    padding: 4%;
    background: #e8e8e8;
    color: black;
    margin: 10px 0; }
  .main__card .main__product-card-best-seller-text {
    text-align: center;
    padding: 20px; }

.main__card-vote {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5%; }
  .main__card-vote .main__product-vote {
    background: var(--main-color);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 16px;
    color: #F2F6F4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left; }
  .main__card-vote .main__product-vote-container {
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    display: flex;
    color: black; }
  .main__card-vote .main__product-card-vote {
    width: 30%;
    height: 100%;
    background: #F2F6F4;
    margin: 0 10px;
    border-radius: 16px; }

.main__products {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .main__products .main__product-row-top {
    text-align: center; }
  .main__products .main__product-row-bottom {
    clear: both;
    text-align: center; }
  .main__products .main__product-row-contant {
    width: 33%;
    margin: 0 10px; }
  .main__products .main__product-button {
    background: var(--button-color);
    color: white;
    width: 10em;
    height: 3em;
    border-radius: 100px;
    border: none;
    margin: 10px 0; }
  .main__products .main__product-button:hover {
    opacity: .7;
    cursor: pointer; }
  .main__products .main__product-image {
    background: #F2F6F4;
    padding: 40px; }
  .main__products .main__product-top-title {
    text-align: center;
    color: #9D9EA2; }
  .main__products .main__product-items {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }

.main__order {
  width: 100%;
  height: fit-content;
  background: #01100B;
  color: #FFFFFF;
  padding: 8%;
  text-align: center; }
  .main__order .main__order-offer {
    background: var(--main-color);
    width: 70%;
    height: auto;
    margin: auto;
    position: absolute;
    padding: 50px;
    border-radius: 16px;
    left: 15%;
    top: 337em;
    display: none; }
  .main__order .main__order-how-to-order {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main__order .main__order-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
  .main__order .main__order-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
    padding: 10px; }
  .main__order .main-order-button {
    background: var(--button-color);
    color: white;
    width: 10em;
    height: 3em;
    border-radius: 100px;
    border: none; }

.customer-service {
  padding: 5%; }
  .customer-service .customer-service__card {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .customer-service .customer-service__card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    border: 1px solid #CECFD566;
    border-radius: 16px;
    margin: 10px 0; }

.product-recently-added .product-recently-added-menu {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
.product-recently-added .product-recently-added-menu-ul {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  text-align: center; }
.product-recently-added .product-recently-added-menu-li {
  width: 33%;
  background: transparent;
  font-size: .8em;
  padding: 10px;
  height: auto; }
.product-recently-added .product-recently-added-menu-li:hover {
  color: var(--main-color);
  background: #F2F6F4;
  border: 1px solid var(--main-color);
  border-radius: 50px; }
.product-recently-added .product-recently-added__product {
  padding: 5%; }
.product-recently-added .product-recently-added__card {
  width: 30%; }
.product-recently-added .product-recently-added__card-image {
  background: #F4F4F4;
  padding: 20px; }

.product-about {
  display: block; }

.product-about__container {
  width: 100%;
  padding: 4%; }

.product-about__image {
  text-align: center;
  background: #F2F6F4;
  margin: 10px 0; }

.weed-training {
  padding: 5%;
  background: #F4F4F4; }
  .weed-training .weed-training__content {
    margin: 20px 0; }
  .weed-training .weed-training__card {
    width: 100%;
    margin: 50px 0; }

@media only screen and (max-width: 350px) {
  html {
    width: 400px; } }
@media only screen and (min-width: 1550px) {
  .main {
    height: 50vh; } }
@media only screen and (min-width: 700px) {
  .main .main__mask-group {
    height: 100vh; }

  .main__mask-group-bold-text {
    font-size: 36px;
    width: 40%; }

  .main__mask-group-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 80px; }

  .main__card {
    flex-direction: row; }
    .main__card .main__product-card-best-seller {
      background: var(--main-color);
      width: 30%;
      height: fit-content;
      border-radius: 16px;
      color: var(--section-color);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white; }
    .main__card .main__product-card-container {
      width: 100%;
      padding: 0 10px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      border-radius: 15px; }
    .main__card .main__product-card {
      width: 27%;
      height: 100%;
      border-radius: 16px;
      margin: -11px 13px;
      float: left;
      padding: 50px;
      background: #e8e8e8;
      border: 16px;
      color: black; }

  .main__product-vote {
    width: 30%;
    color: white; }

  .main__card-vote {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .main__card-vote .main__product-vote {
      background: var(--main-color);
      width: 30%;
      height: 100%;
      padding: 20px;
      border-radius: 16px;
      color: var(--section-color);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      color: white; }
    .main__card-vote .main__product-vote-container {
      width: 100%;
      height: 100%;
      background: transparent;
      color: transparent;
      display: flex;
      color: black;
      padding: 10px; }
    .main__card-vote .main__product-card-vote {
      width: 30%;
      height: 100%;
      background: var(--section-color);
      margin: 0 10px;
      border-radius: 16px; }

  .main__products {
    padding: 5%; }
    .main__products .main__product-row-contant {
      width: 22%; }

  .main__order {
    width: 100%;
    height: fit-content;
    background: #01100B;
    color: #FFFFFF;
    padding: 8%;
    text-align: center; }
    .main__order .main__order-offer {
      background: var(--main-color);
      width: 70%;
      height: auto;
      margin: auto;
      position: absolute;
      padding: 50px;
      border-radius: 16px;
      left: 15%;
      top: 243em;
      display: none; }

  .customer-service .customer-service__card-container {
    width: 30%;
    margin: 10px 10px; }

  .product-about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

  .product-about__container {
    width: 33%;
    padding: 7%; }

  .product-about__image {
    text-align: center;
    background: var(--section-color);
    margin: 10px 0; }

  .weed-training {
    padding: 5%; }
    .weed-training .weed-training__title {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .weed-training .weed-training__content {
      margin: 20px 0;
      margin: 20px 0;
      display: flex;
      justify-content: space-around; }
    .weed-training .weed-training__card {
      width: 30%; } }
.main-container__rewards {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  background: var(--container-color);
  flex-direction: column; }
  .main-container__rewards .main-container__reward-item {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px 0; }
  .main-container__rewards .main-container {
    display: flex; }
    .main-container__rewards .main-container .main-container__content {
      width: 100%; }
    .main-container__rewards .main-container .main-container__filters {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .main-container__rewards .main-container .main-container__filters-button {
      background: var(--button-color);
      color: white;
      width: 10em;
      height: 3em;
      border-radius: 100px;
      border: none;
      background: white;
      color: black;
      border: 1px solid gray; }
    .main-container__rewards .main-container .main-container__top-sell-container {
      display: flex; }
      .main-container__rewards .main-container .main-container__top-sell-container .main-container__top-sell-content {
        width: 33%; }
      .main-container__rewards .main-container .main-container__top-sell-container .main-container__top-sell-image {
        padding: 5% 0;
        width: 33%; }
      .main-container__rewards .main-container .main-container__top-sell-container .main-container__top-sell-product-info {
        text-align: center;
        line-height: 25px; }
  @media only screen and (min-width: 700px) {
    .main-container__rewards .main-container__rewards {
      display: flex;
      justify-content: space-between;
      padding: 5%;
      background: var(--container-color);
      flex-direction: row; }
    .main-container__rewards .main-container__content {
      width: 70%; }
    .main-container__rewards .main-container__filters-button {
      display: none; } }

/*# sourceMappingURL=main.css.map */
